
.container-fluid {
    width: 100%;
    height: auto;
}



.container {
    width: 1160px;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.fix {
    overflow: hidden;
}


/* Header (Home Section) */
header {
    height: 543px;
    background: 
        url("../images/home/bg_shade.png") no-repeat,
        url("../images/home/bg.png") no-repeat;
    background-size: 100% auto;
}

/* Header -> Navigation Bar */
img.logo {
    float: left;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 5px;
}

ul.navigation {
    float: left;
    margin-top: 45px;
    list-style: none;
    padding-left: 0;
}

ul.navigation > li {
    display: inline-block;
}

ul.navigation > li > a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Gentium Book Basic", serif;
    font-size: 21px;
    margin-right: 20px;
}

ul.social {
    float: left;
    margin-top: 45px;
    list-style: none;
    padding-left: 0;
}

ul.social > li {
    display: inline-block;
}

ul.social > li > a > img {
    margin-left: 10px;
}

ul.social > li:last-child > a > img {
    margin-left: 5px;
}

/* Header -> Page Title */
.page-title {
    width: 700px;
    margin: 60px auto 0;
    text-align: center;   
}

.page-title > h1 {
    color: white;
    font-family: "Yeseva One", cursive;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}

.page-title > img {
    margin-top: 20px;
}

/* Header -> Page Controls (buttons)*/
.page-control {
    width: 360px;
    margin: 20px auto 0;
}

.page-control > a {
    display: block;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: white;
    padding: 12px 26px;
}

.page-control a.pull-left {
    background-color:  rgba(0, 0, 0, 0.7);
    opacity: 0.8;
}

.page-control a.pull-right {
    background-color:  rgba(255, 255, 255, 0.28);
}

/* ------------------------------------------------------------- */

/* About Section */

.about {
    background-image: url("../images/about/section_bg.png");
    height: 500px;
}

.about > img {
    width: 420px;
    margin-top: 45px;
    margin-right: 150px;
}

.about-info {
    width: 390px;
    margin-top: 50px;
    margin-left: 180px;
}

.about-info > h2 {
    font-family: "Yeseva One", cursive;
    color:  #cc9900;
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 6px;
}

.about-info > p {
    font-family: Lato, sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 1.4em;
    color: #4c4c4c;
}

.about-info > img {
    width: 160px;
    display: block;
    margin: 0 auto;
}


/* ------------------------------------------------------------- */


/* Ingredients Section */

.ingredients {
    background: url("../images/ingredients/ingredients_bg.png") no-repeat;
    background-size: 100% auto;
    height: 548px;
}

.ingredients-info {
    margin-top: 60px;
    margin-right: 100px;
    width: 500px;
    background-image: url("../images/ingredients/ingredients_info_bg.png");
    text-align: center;
}

.ingredients-info > h2 {
    font-family: "Yeseva One", cursive;
    color: white;
    margin-top: 50px;
}

.ingredients-info > p {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.4em;
}

.ingredients-images {
    margin: 40px 10px;
}

.ingredients-images > img {
    float: left;
    margin-left: 38px;
}
/* ------------------------------------------------------------- */

/* Menu Section */

.menu {
    background-image: url("../images/menu/menu_bg.png");
    height: 860px;
}

.menu-left {
    width: 380px;
    margin-left: 160px;
    margin-top: 30px;
}

.menu-right {
    width: 380px;
    margin-right: 160px;
    margin-top: 30px;
}

.menu-section {
    font-family: "Yeseva One", cursive;
    text-align: center;
    margin-bottom: 50px;
}

.menu-section > h2 {
    color: #cc9900; 
}

.menu-section > img {
    
}

.dish {
    margin-top: 20px;
    width: 360px;
    padding: 6px 10px;
}

.dish > p:first-of-type {
    color: #cc9900;
    float: left;
    margin-bottom: -2px;
    margin-top: 0;
}

.dish > p:nth-of-type(2) {
    color: #cc9900;
    float: right;
    margin-bottom: -2px;
    margin-top: 0;
}

.dish > img {
    width: 100%;
}

.dish > p:last-of-type {
    color:  #4c4c4c;
    text-align: left;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 0;
}

.dish-special {
    margin-top: 20px;
    width: 380px;
    overflow: hidden;
}

.dish-special > .tab {
    float: right;
}

.dish-special > .top-border {
    float: right;
    width: 379px;
    height: 1px;
    background: linear-gradient(to left, #c89f2d, #e7d297);
}

.dish-special > .dish {
    float: right;
    margin-top: 0;
    border-left: 1px solid #e7d297;
    border-right: 1px solid #c89f2d;
    width: 358px;
}


.dish-special > .bottom-border {
    float: right;
    width: 379px;
    height: 1px;
    background: linear-gradient(to left, #c89f2d, #e7d297);
}

.dish-special > .tab > p {
    font-family: Lato, sans-serif;
    color:  #f8fafa;
    font-size: 11px;
    background-image: url("../images/menu/menu_special_bg.png");
    line-height: 1.6em;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0;
}
/* ------------------------------------------------------------- */

/* Reviews Section */

.reviews {
    background: url("../images/reviews/reviews_bg.png") no-repeat;
    background-size: 100% auto;
    height: 549px;
}

.review {
    margin: 50px auto 0;
    width: 480px;
    background-image: url("../images/reviews/reviews_header_bg.png");
    text-align: center;
    padding: 40px 60px;
}
.review > h2 {
    font-family: "Yeseva One", cursive;
    color: white;
}

.review > p:first-of-type {
    font-family: "Gentium Book Basic", serif;
    color: #dee0e0;
    font-size: 20px;
    line-height: 2em;
}

.review > p:last-of-type {
    font-family: serif;
    font-size: 16px;
    color: white;
}
/* ------------------------------------------------------------- */


/* Reservations Section */

.reservations {
    background-image: url("../images/reservations/reservations_bg.png");
    height: 560px;
}

.reservations-images {
    width: 400px;
    margin-top: 95px;
    margin-left: 120px;
}

.reservations-images > img {
    float: left;
    width: 195px;
}

.reservations-images > img:first-of-type {
    margin-right: 10px; 
}

.reservations-form {
    text-align: center;
    width: 500px;
    height: 460px;
    margin-right: 80px;
    margin-top: 60px;
}

.reservations-form > h2 {
    font-family: "Yeseva One", cursive;
    color: #cc9900;
}

.reservations-form > p {
    font-family: Lato, sans-serif;
    color: #4c4c4c;
    line-height: 1.6em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.reservations-form input {
    border:1px solid #c9a131;
    height: 26px;
}

.form-part:first-of-type {
    margin-left: 50px;
}

.form-part:last-of-type {
    margin-right: 50px;
}

.field {
    text-align: left;
    margin-bottom: 10px;
}

.field > label {
    color: #c9a131;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
}

.reservations-form button {
    background-color:  rgba(200, 159, 45, 0.98);
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer; 
}
/* ------------------------------------------------------------- */

/* Footer section */

.footer {
    background-color: #191919;
    height: 240px;
}

.footer-section {
    width: 240px;
    text-align: center;
    margin-top: 25px;
    margin-left: 110px;
}

.footer-section > h3 {
    font-family: "Yeseva One", cursive;
    font-size: 16px;
    color: #fefefe;
}

.footer-section > p {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 11px;
    margin-bottom: 25px;
}

